.aboutDiv h1 {
    color: white;
    text-decoration: underline rgb(233, 81, 233);
    margin-left: 10%;
    margin-top: 2%;
}

.aboutDiv {
    color: white;
}

.description {
    margin-left: 10%;
    margin-top: 6%;
    border: solid rgb(233, 81, 233);
    padding: 2%;
}