.footer {
    background-color: white;
    opacity: 85%;
    margin-top: 10%;
}

.footer a {
    color: rgb(233, 81, 233);
    font-style: bolder;
    padding: 2%;
    margin-left: 24%;
    /* display: block; */
}