body {
    background-color: darkcyan !important;
}

.navbar {
    background-color: lightblue;
    opacity: 60%;
    min-height: 25%;
}

.navbar h1 {
    color: rgb(233, 81, 233);
    font-style: bolder;
    margin-left: 4%;
}

.nav-item {
    text-decoration: underline white;
    color: rgb(233, 81, 233);
    font-weight: bolder;
    padding: 1pt;
    margin-right: 2%;
}

.aboutDiv h1 {
    color: white;
    margin-left: 2%;
    margin-top: 2%;
}

.aboutDiv {
    color: white;
}

.list {
    color: white;
    border: solid rgb(233, 81, 233);;
}

.resumeLink {
    color: white;
    text-decoration: underline rgb(233, 81, 233);
}

.resLink {
    border: solid white;
    background-color: white;
    text-decoration: none;
    color: rgb(233, 81, 233);
}