.portfolioTitle {
    color: white;
    text-decoration: underline rgb(233, 81, 233);
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card {
    width: 80%;
    height: 30%;
    margin: 8%;
}

.card:hover {
    width: 90%;
    /* height: 50%; */
    transform: translateY(-15px);
}


.card-img-top {
    width: 90%;
    height: 15vw;
    object-fit: cover;
}

.btn {
    border: solid darkcyan !important;
    background-color: white !important;
    opacity: 50% !important;
    color: rgb(233, 81, 233) !important;
}

.btn:hover {
    opacity: 100% !important;
}


